body{
    padding: 0;
    margin: 0;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(250, 246, 246);
}

h1{
    font-size: 2.3rem;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    background-color: rgba(20, 20, 20, 0.966);
}

nav .logo{
    font-size: 2.9rem;
    color:white;
}

nav .nav-item ul{
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
}

nav .nav-item ul li{
    padding: 1.2rem;

}

nav .nav-item ul li a{
    font-size: 1.5rem;
    color:white;
    text-decoration: none;
    transition: all 0.2s;
    
}

nav .nav-item ul li a:hover{
    font-size: 2.1rem;
    color:rgb(0, 255, 0)
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-secondary{
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.form-control{
    margin: 1.3rem;
    padding: 2.5rem;
    max-width: 50%;

}


.form-control input[type = "email"], 
.form-control input[type = "password"],
.form-control input[type = "text"]{

    padding: 1.2rem;
    margin: 1.4rem;
    font-size:1.6rem;
    color:white;
    width: 100%;
    height: 30px;
    text-align: center;
    border-radius: 50px;
    border: none;
    background: rgb(170, 168, 168);

}

.form-control input[type = "file"]{
    font-size:1.3rem;
    background: white;
    border-radius: 50px;
    box-shadow: 5px 5px 10px rgba(20, 20, 20, 0.966);
    width: 400px;
    outline: none;
}

.form-control label{
    font-size: 1.5rem;
    text-align: center;
    margin: 1.6rem;
}

.form-control input[type = "submit"]{

    background-color:rgb(0, 255, 0);
    padding: 1.3rem;
    margin: 2.3rem;
    font-size: 1.2rem;
    color:white;
    width: 30%;
    text-align: center;
    border-radius: 50px;
    border: none;
    transition: all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
    cursor: pointer;
    
}

::-webkit-file-upload-button{
    color:white;
    background-color: rgb(0, 255, 0);
    padding: 20px;
    border:none;
    border-radius: 50px;
}

.form-control input[type = "submit"]:hover{
    width: 50%;
}

.alert-green{
    padding: 1.2rem;
    color:white;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 255, 0);
}


.alert-red{
    padding: 1.2rem;
    display: flex;
    color:white;
    font-size: 1.5rem;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 0, 0);
}

.close-btn{
    cursor: pointer;
    transition: all 0.3s;
}

.close-btn:hover{
    transform: scale(2);
    color:rgb(0, 255, 0);
}

.album{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin: 1.9rem;
    width: 300px;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    transition: all .3s;
}

.album:hover{
    transform: scale(1.1);
}

.album img{
    width: 100%;
    height: 250px;
    padding: 1.3rem;
}

.album p{
    color:black;
    font-size: 1.2rem;
    text-align: center;
}

.album h1{
    color:black;
    font-size: 1.2rem;
    text-align: center;
}

.link-lime{
    padding: 1.2rem;
    margin: 1.2rem;
    width: 75px;
    text-decoration: none;
    text-align: center;
    color:white;
    background-color: rgb(0, 255, 0);
    border-radius: 50px;
    transition: all .4s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.link-red{
    padding: 1.2rem;
    margin: 1.2rem;
    width: 75px;
    text-decoration: none;
    text-align: center;
    color:white;
    background-color: rgb(255, 0, 0);
    border-radius: 50px;
    transition: all .4s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.link-red:hover, 
.link-lime:hover{
   
    transform: scale(1.1);

}

.link-aqua{
    padding: 1.2rem;
    margin: 1.2rem;
    width: 40%;
    text-decoration: none;
    text-align: center;
    color:black;
    background-color: aqua;
    border-radius: 50px;
}
 .image-container{
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.image-container img{
    width: 300px;
    height: 300px;
    margin: 1.5rem;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(20, 20, 20, 0.966);
    transition: all .4s;
}

.image-container img:hover{
   transform: scale(1.1);
}

.single-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1.4rem;

}

.single-image-container img{
    width: 700px;
    height: 600px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(20, 20, 20, 0.966);
}

.hamburger-menu{
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    width: 70px;
    height: 50px;
    display: none;
    justify-content: space-between;
    flex-direction: column;
}

.hamburger-menu .bar{
    width:100%;
    height: 10px;
    border-radius: 5px;
    background-color: white;

}


@media (max-width: 800px) {
    
    nav .nav-item{
        display: none;
        width: 100%;
    }


    nav{
        flex-direction: column;
        align-items: flex-start;
    }


    .hamburger-menu{
        display: flex;
        flex-direction: column;
    }


    nav .nav-item ul{
        width: 100%;
        flex-direction: column;
    }

    nav .nav-item ul li{
        text-align: center;
    }


    nav .nav-item.active{
        display: flex;
    }


}

