altgraph==0.17.2
asgiref==3.5.0
backports.entry-points-selectable==1.1.1
certifi==2021.10.8
click==8.0.3
colorama==0.4.4
cx-Freeze==6.8.1
cx-Logging==3.0
distlib==0.3.3
Django==4.0.3
django-crispy-forms==1.14.0
djangorestframework==3.13.1
filelock==3.4.0
Flask==2.0.2
Flask-Login==0.5.0
Flask-SQLAlchemy==2.5.1
future==0.18.2
greenlet==1.1.2
gunicorn==20.1.0
importlib-metadata==4.8.1
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
pefile==2021.9.3
Pillow==9.1.1
pipenv==2022.3.28
platformdirs==2.4.0
pygame==2.0.2
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.3
pytz==2022.1
pywin32-ctypes==0.2.0
six==1.16.0
SQLAlchemy==1.4.27
sqlparse==0.4.2
tzdata==2022.1
virtualenv==20.10.0
virtualenv-clone==0.5.7
Werkzeug==2.0.2
zipp==3.6.0
