<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename ='styles.css')}}">
    
    <title>{% block title %} {% endblock %}</title>
</head>
<body>

   

    <nav>
        <div class="logo">WebGal</div>
        <div class="nav-item">

            <ul>
                {% if not current_user.is_authenticated %}
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register-account">Register</a></li>
                {% else %}
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/new_album">New Album</a></li>
                    <li><a href="/logout">Logout</a></li>
                {% endif %}
            </ul>

          

        </div>

        <a href="#" class="hamburger-menu">
            <span class = "bar"></span>
            <span class = "bar"></span>
            <span class = "bar"></span>
        </a>
    </nav>

    {% with messages = get_flashed_messages( with_categories = true) %}

        {% for cat, message in messages %}

            {% if cat == 'error' %}

                <div class="alert-red">
                    <p>{{ message }}</p>
                    <span onclick="this.parentElement.remove();" class = "close-btn">&times;</span>
                  
                </div>

            {%elif cat == 'success' %}

                <div class="alert-green">
                    <p>{{ message }}</p>
                    <span onclick="this.parentElement.remove();" class = "close-btn">&times;</span>
                   
                </div>

            {% endif %}

        {% endfor %}

    {% endwith %}

    {% block Content %} 

    {% endblock %}

    <script src="{{ url_for('static', filename = 'index.js')}}"></script>

    
</body>
</html>