{% extends "base.html"%}


{% block title%} Dashboard {% endblock %}


{% block Content %}

    <h1 align = "center">Welcome to WebGal {{ user.first_name }} {{ user.second_name}}</h1>


    <div class="container-secondary">

        {% if not user.galleries %}
            <h2>There are no albums available, click <a href="/new_album">here</a> to create one</h2>
        {% else %}

            {% for gallery in user.galleries %}

                <div class="album">

                    <!--Top image-->
                    {% if not gallery.images %}
                        <img src="{{ url_for('static', filename = 'img/profile pic.jpg')}}">
                    {% else%}
                        <img src="{{ url_for('static', filename = 'img/' + gallery.images[0].filename)}}">
                    {% endif %}

                    
                    <!--Gallery name-->
                    <h1>{{ gallery.gallery_name }}</h1>

                    <!--Gallery date-->
                    <p>{{ gallery.date.date() }}</p>


                    <!--Add image button-->

                    <a class ='link-aqua' href="/add_image/{{ gallery.id }}">Add Image</a>

                    <!--View and delete buttons-->
                    <div class="container">
                        <a class ='link-lime' href="/view_album/{{ gallery.id }}">View</a>
                        <a class ='link-red' href="/delete_album/{{ gallery.id }}">Delete</a>
                    </div>
                   
                
                </div>
            
            {% endfor %}


        {% endif %}

    </div>

{% endblock %}