{% extends "base.html"%}


{% block title%}Login{% endblock %}


{% block Content %}


    <h1 align = "center">Login</h1>

    <div class="container">

        <div class = 'my-form'>

            <form action="" method="post" class ="form-control">


                <!--Input field for email-->
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
    
                <!--Input field for password-->
                <label for="password">password</label>
                <input type="password" name="password" id="password">
    
                <!--Submit button-->
                <div align = "center">
                    <input type="submit" value="Sign In" >
                </div>
                
    
    
            </form>
    
    
        </div>

        </div>

       


{% endblock %}