{% extends "base.html"%}


{% block title%}Login{% endblock %}


{% block Content %}

    
<h1 align = "center">Create Acoount</h1>

<div class="container">

    <form action="" method="post" class ="form-control">


        <!--Input field for First Name-->
        <label for="first-name">First Name</label>
        <input type="text" name="first-name" id="first-name">

        <!--Input field for Second Name-->
        <label for="second-name">Second Name</label>
        <input type="text" name="second-name" id="second-name">

        <!--Input field for email-->
        <label for="email">Email</label>
        <input type="email" name="email" id="email">

        <!--Input field for password-->
        <label for="password">password</label>
        <input type="password" name="password" id="password">

        <!--Input field for password confirmation-->
        <label for="password-confirm">Confirm password</label>
        <input type="password" name="password-confirm" id="password-confirm">

        <!--Submit button-->
        <div align = "center">
            <input type="submit" value="Register" >
        </div>


    </form>


</div>

{% endblock %}